

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



body {
    min-height: 100vh;
}


.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



.navbar {
    margin-bottom: 0 !important;
}


.home-body .navbar {
    background-color: rgba(255, 255, 255, 0.85) !important;
    backdrop-filter: blur(6px);
    border-bottom: none;
}


.home-background {
    background-image: url('/images/pozadina.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; 
    height: calc(100vh - 56px); 

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20vh; 
}

    
    .home-background h1 {
        color: white;
        font-weight: 600;
        letter-spacing: 1px;
    }



.btn-students,
.btn-teachers,
.btn-enrollments,
.btn-courses {
    background-color: #aee9bc;
    color: white;
}

.btn-professor,
.btn-student {
    background-color: #69cede;
    color: white;
}

    .btn-students:hover,
    .btn-teachers:hover,
    .btn-enrollments:hover,
    .btn-courses:hover,
    .btn-professor:hover,
    .btn-student:hover {
        opacity: 0.85;
    }


.home-background h1 {
    color: black !important;
   
}

.footer {
    background-color: white;
    position: static !important;
    height: auto !important;
    
}

.text-center {
    text-align: center;
    padding-top: 10vh; 
}
