html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btn-students {
    background-color: #aee9bc;
    color: white;
}

.btn-teachers {
    background-color: #aee9bc;
    color: white;
}

.btn-enrollments {
    background-color: #aee9bc;
    color: white;
}
.btn-courses {
    background-color: #aee9bc;
    color: white;
}
.btn-professor {
    background-color: #69cede; 
    color: white;
}
.btn-student {
    background-color: #69cede; 
    color: white;
}
    
    .btn-students:hover,
    .btn-teachers:hover,
    .btn-enrollments:hover,
    .btn-courses:hover,
    .btn-professor:hover,
    .btn-student:hover {
        opacity: 0.85;
    }
